<!DOCTYPE html>
{% csrf_token %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proionta</title>
     <style>
    body {background-color: cornflowerblue;}
    h1   {color: Black;}
    p    {color: red;}
</style>
</head>
<body>
{%  block content %}

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Price</th>
    </tr>

    {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.brand }}</td>
            <td>{{ product.price }}</td>

        </tr>


        {% endfor %}
</table>
    <form method="POST">
    {% csrf_token %}
    <h1>Buy Rysen 5 cpu </h1><input type="submit" value="Buy CPU" name="001"></input>
    <h1>Buy RTX3090 gpu </h1><input type="submit" value="Buy GPU" name="002"></input>
    <h1>Buy PS5console </h1><input type="submit"  value="Buy PS5"  name="003"></input>
    </form>
{%  endblock content %}
</body>
</html>