<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
</head>
<body>
{%  block content %}

<table>
    <tb>
    <tr>
        <th>firstname</th>
        <th>lastname</th>
        <th>email</th>
        <th>telephone</th>
        <th>prod_id</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Price</th>
    </tr>
    {% for user in users %}
    {% for product in products %}
        <tr>

            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.telephone }}</td>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.brand }}</td>
            <td>{{ product.price }}</td>
        </tr>

{% endfor %}
{% endfor %}
</tb>
</table>
<form method="POST">
{% csrf_token %}
    <input type="text" name="cardnumber" id="cardnumber" placeholder="cardnumber"></br>
    <input type="text" name="cardcode" id="cardcode" placeholder="cardcode"></br>

    <input type="submit" name="Purchase" id="purchase"  value="purchase">
    </form>
{%  endblock content %}
</body>
</html>